<!DOCTYPE html>
<html>
<head>
    <title>AddDoc</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/img/icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/sweet-alert.css">
    <link rel="stylesheet" type="text/css" href="static/css/addDoc.css">

</head>
<body>
    <div class="row addDocRow">
        <div class="panel panel-warning addDocPanel">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Doc</h3>
            </div>
            <div id="addDocContent" class="panel-body">
                <div class="col-sm-10">
                  <form class="form-horizontal" role="form" id="addDocForm">

                    <div class="form-group">
                        <label for="exampleInuptName" class="col-sm-3 control-label">Upload Type</label>
                        <div class="col-sm-9">
                            <!--<label for="LA" style="margin-right:20px;">
                                <input id="LA" type="radio" name="type" value="link" disabled>Link Addr
                            </label>-->
                            <label for="UF">
                                <input id="UF" type="radio" name="type" value="file" checked>Upload File
                            </label>
                        </div>
                    </div>

                    <!--<div id="LAdiv" class="form-group">
                        <label for="exampleInuptName" class="col-sm-3 control-label">Link Addr</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputLink" name="Link_Addr">
                        </div>
                    </div>-->

                    <div id="UFdiv" class="form-group">
                        <label for="exampleInuptName" class="col-sm-3 control-label">Add File</label>
                        <div class="col-sm-9">
                            <span class="btn btn-info fileinput-button form-control">
                                <span>Upload File</span>
                                <input id="fileupload" type="file" name="files[]">
                                <!--<input type="hidden" class="form-control" id="uploadId" name="uploadId" value="">-->
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInuptName" class="col-sm-3 control-label">Doc Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputName" name="Doc_Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInuptOwner" class="col-sm-3 control-label">Owner</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputOwner" name="Owner" placeholder="不超过16字符" required maxlength="16">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInuptDescription" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputDescription" name="Description" placeholder="不超过50字符" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control" name="requestType" value="write" style="display:none;">
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control" name="page" value="doc" style="display:none;">
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control" name="data" value="form" style="display:none;">
                    </div>
                     <div class="form-group">
                        <input type="hidden" class="form-control" name="Catgory" id="inputCat">
                    </div>
                    <div class="form-group">
                        <div class="twoBtn">
                            <button type="button" id="addDocSubmit" class="btn btn-primary" style="width:71px;">OK</button>
                            <a class="btn btn-primary" href="/doc">Cancel</a>
                        </div>
                    </div>
                  </form>
              </div>
            </div>
      </div>
    </div>

    <script type="text/javascript" src="static/js/jquery.1.11.1.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/sweet-alert.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="static/js/jquery.fileupload.js"></script>

    <script type="text/javascript" src="static/js/adddoc.js"></script>
</body>