<!DOCTYPE html>
<html>
<head>
<title>Builds</title>   
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{static_url("img/icon.png")}}">
<link rel="stylesheet" type="text/css" href="{{static_url("css/bootstrap.min.css")}}">
<link rel="stylesheet" type="text/css" href="{{static_url("select2-3.5.2/select2.css")}}" />
<link rel="stylesheet" type="text/css" href="{{static_url("css/test.css")}}">
</head>
<body>
  <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="{{static_url("img/logo.png")}}" width="200" height="50">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="test.html" id="builds" style="color:#49b5e7">Builds</a></li>
            <li><a href="vm.html" id="vm">VM Plans</a></li>
            <li><a href="doc.html" id="doc">Doc</a></li>
            <li><a href="javascript:void(0);" id="contact">Contact</a></li>
            <!-- <li><a href="javascript:void(0);" id="login">Logout</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="s2container">
      <div class="stella">
          <div id="select"></div>
      </div>
    </div>


    <div class="row footer">
        <p>Copyright © 2014 NoExcuse All Rights Reserved</p>
    </div>
<script type="text/javascript" src="{{static_url("js/jquery.1.11.1.min.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/bootstrap.min.js")}}"></script>
<script type="text/javascript" src="{{static_url("select2-3.5.2/select2.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/test.js")}}"></script>
<!--<script type="text/javascript">
    var DATA = "build.json";
</script>-->
</body>
</html>